<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Transaction History</h1>
        <a href="{{ url_for('index') }}" class="btn btn-back">Back to Home</a>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>TransactionID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.TransactionID }}</td>
                        <td>{{ transaction.Date }}</td>
                        <td>{{ transaction.Amount }}</td>
                        <td>{{ transaction.Type }}</td>
                        <td>{{ transaction.Description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
