<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Customer Management</h1>
        <a href="{{ url_for('create_customer') }}" class="btn">Create New Customer</a>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>CustomerID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Date of Birth</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.CustomerID }}</td>
                        <td>{{ customer.Name }}</td>
                        <td>{{ customer.Email }}</td>
                        <td>{{ customer.PhoneNumber }}</td>
                        <td>{{ customer.Address }}</td>
                        <td>{{ customer.DateOfBirth }}</td>
                        <td>
                            <a href="{{ url_for('update_customer', customer_id=customer.CustomerID) }}" class="btn btn-edit">Edit</a>
                            <a href="{{ url_for('delete_customer_page', customer_id=customer.CustomerID) }}" class="btn btn-delete">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Button to go back to the index page -->
        <a href="{{ url_for('index') }}" class="btn btn-back">Back to Home</a>
    </main>
</body>
</html>
